/**************** PAGE SETUP ****************/

body, html {
  background-color: #f2e1d2;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  cursor: default;
}
