/**************** PAGE SETUP ****************/

body, html {
  background-color: #f2e1d2;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.main {
  position: absolute;
  left: 450px;
  overflow: scroll;
}

.contents {
  display: block;
  min-width: 700px;
}

.href-links {
  text-decoration: none;
  color: #bf6c5f;
}

.href-links:hover {
  color: #ce8679;
}

.subpage-link {
  display: inline-block;
  margin: 0 10% 0 10%;
  text-decoration: none;
  color: #000000;
}

.subpage-link:hover {
  color: #bf6c5f;
}

.selected-subpage-link {
  color: #bf6c5f;
  cursor: default;
}

/**************** SIDEBAR ****************/

.sidebar {
  background-color: #4d687a;
  color: #f2e1d2;
  position: fixed;
  overflow-y: scroll;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 50px;
}

.my-name {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: auto;
}

.spacer {
  height: 30vh;
}

.page-link {
  text-decoration: none;
  color: #f2e1d2;
  font-weight: lighter;
}

.page-link:hover {
  font-weight: bold;
}

.selected-page-link {
  font-weight: bold;
  cursor: default;
}

/**************** CURRENT ****************/

.current-page {
  padding: 45vh 0 50px 50px;
}

/**************** ABOUT ****************/

.about-page {

}

.about-sections {
  display: block;
  padding: 25px;
}
